body {
    background-color: blanchedalmond;
    text-align: center;
    padding-top: 10vh;
}

.btn {
    margin-top: 10vh;
    margin-bottom: 10vh;
    /* margin-left: 2%;
    margin-right: 2%; */
    /* max-width: 5%; */
}

.gameField {
    border: solid black 2px;
    border-radius: 10%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#dealerField {
    background-color: brown;
    margin-bottom: 10%;
}

#playerField {
    background-color: green;
}